@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #EEEEEE;
    /* overflow: hidden; */
}

body::-webkit-scrollbar{
    display: none;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }
content::-webkit-scrollbar{
    display: none;
  }


.header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 100%;
    max-height: 40%;

    background-color: #CF2B2B;
    color: white;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    z-index: -1;
    
    overflow-y: hidden;
    overflow-x: hidden;
}
.category__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;

    /* overflow: hidden; */
}


.category {
    width: auto;
    min-height: 100%;
    padding-right: 16px;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;

    overflow:auto;
    
}

.category__option {
    min-width: 172px;
    min-width: 172px;
    height: 202px;
    margin-left: 16px;
    border-radius: 9px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-between; */

    border: solid 6px rgba(255, 255, 255, 0);

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.category__option img {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.option__text__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.option__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.option__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    line-height:1em;
    
}

.option__footer{
    width: 100%;
    display: flex;
    /* flex:0 0 100%; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.option__price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.price {
    font-family: 'Roboto';
}

.check {
    color: rgba(255,255,255,0);
    font-size: 22px;
}

.active-check {
    color: green;
}

.active {
    border-color: green;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 92px;

    background-color: white;
    color: white;
}

.header__container {
    margin-left: 16px;
}

.header__restaurantName {
    font-family: 'Righteous';
    font-size: clamp(80%, 16vw, 44px);
    /* font-size: 44px; */
}

.header__sub {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: clamp(50%, 6vw, 18px);
    /* font-size: max(4vw,18px); */
}


.category__title {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;

    margin-left: 16px;
    border: none;
}



.footer__button {
    background-color: #CBCBCB;
    width: 85%;
    height: 65%;
    border-radius: 15px;
}

.footer__button__active {
    background-color: green;
}

.footer__button-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
}